<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gráficos de sismos en México</title>

        <!--Librerias para Plotly-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    
    <body>

        <a href="index.html">Ir a index </a>

        <div id="graph"></div>
        <!--<div id="grafico"></div>-->
        <input type="range">

        
    </body>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/js/plots.js"></script>
</html>
